[submodule "projects/variational-autoencoder"]
	path = projects/variational-autoencoder
	url = https://github.com/sygi/variational-autoencoder
[submodule "blog"]
	path = blog
	url = git@github.com:sygi/sygi.github.io.git
